@model IEnumerable<Shop.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    <div class="col-12 col-md-3 bg-success">
    </div>
    <div class="col-12 col-md-9">
        <div class="d-flex flex-wrap">
            @foreach (var item in Model)
            {
                if (@item.Price == @item.DiscountedPrice)
                {
                    <div class=" mx-auto p-2 fw-bold  bg-dark rounded mb-2" style="width:300px; min-width:280px; max-width:320px">
                        <a asp-action="Details" asp-route-id="@item.ProductId">
                            <img src="@("~/img/"+item.MainImage)" asp-append-version="true" width="100%" height="auto" />
                        </a>
                        <div class="d-flex flex-column justify-content-start">
                            <span class=" text-white">@item.ProductName</span>
                            <div class="d-flex flex-row-reverse p-2">
                                <span class="fs-4 text-white">@item.Price$</span>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class=" border border-5 border-warning bg-dark rounded p-2 mx-auto fw-bold mb-2" style="width:300px; min-width:280px; max-width:320px">
                        <a asp-action="Details" asp-route-id="@item.ProductId">
                            <img src="@("~/img/"+item.MainImage)" asp-append-version="true" width="100%" height="auto" />
                        </a>
                        <div class="d-flex flex-column justify-content-start">
                            <span class="text-white ">@item.ProductName</span>
                            <div class="d-flex justify-content-between align-items-baseline">
                                <p class="text-warning fs-4 mb-0">@item.DiscountedPrice$</p> 
                                <p class=" text-white mb-0"><s>@item.Price $ </s></p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThirdImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountedPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellerId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <img src="@("~/img/"+item.MainImage)" asp-append-version="true" width="50px" height="50px" />
                </td>
                <td>
                    <img src="@("~/img/"+item.SecondImage)" asp-append-version="true" width="50px" height="50px" />
                </td>
                <td>
                    <img src="@("~/img/"+item.ThirdImage)" asp-append-version="true" width="50px" height="50px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiscountedPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SellerId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@
